body, html {
    background: #323637;
    min-width: 520px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 30px;
}

h2 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 25px;
}

p {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 20px;
}

a {
    color: #fff;
}

.event-root {
    margin: 30px 0;
}

.event-image {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.map-root {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

.map-body {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
}

.map-frame {
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
